<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FenikSystem</title>
    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/essential.css}" rel="stylesheet">
</head>
<body>
<div>
    <div th:replace="/fragments/header.html :: logo"></div>
    <div th:replace="/fragments/header.html :: logout"></div>
</div>
<div class="body-content">
    <div class="col-md-12">
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <label for="id">제품등록번호</label>
                    <input type="text" class="form-control" id="id" th:value="${product.id}" readonly>
                </div>
                <div class="form-group">
                    <label for="barcodeId">바코드 번호</label>
                    <input type="text" class="form-control" id="barcodeId" th:value="${product.barcodeId}" readonly>
                </div>
                <div class="form-group">
                    <label for="productName">제품명</label>
                    <input type="text" class="form-control" id="productName" th:value="${product.productName}">
                </div>
                <div class="form-group">
                    <label for="brand">브랜드</label>
                    <input type="text" class="form-control" id="brand" th:value="${product.brand}">
                </div>
                <div class="form-group">
                    <label for="price">가격</label>
                    <input type="text" class="form-control" id="price" th:value="${product.price}" readonly>
                </div>
<!--                <div th:if="${pl.history}" class="form-group">-->
<!--                    <div th:each="pl : ${priceList}">-->
<!--                        <p>-->
<!--                            <span th:text="${pl.updatedPrice}"></span>-->
<!--                            <span th:text="${pl.createdDate"></span>-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="form-group">
                    <label for="updatedPrice">가격 수정</label>
                    <input type="number" class="form-control" id="updatedPrice" placeholder="새로운 가격을 입력해주세요.">
                </div>
                <div>
                    <button role="button" class="btn btn-primary" id="btn-price-update">가격 수정</button>
                    <br>
                </div>
                <div class="form-group">
                    <label for="weight">무게</label>
                    <input type="text" class="form-control" id="weight" th:value="${product.weight}">
                </div>
                <div class="form-group">
                    <label for="volumeLong">긴 밑면 길이</label>
                    <input type="text" class="form-control" id="volumeLong" th:value="${product.volumeLong}">
                </div>
                <div class="form-group">
                    <label for="volumeShort">짧은 밑면 길이</label>
                    <input type="text" class="form-control" id="volumeShort" th:value="${product.volumeShort}">
                </div>
                <div class="form-group">
                    <label for="volumeHeight">상품 높이</label>
                    <input type="text" class="form-control" id="volumeHeight" th:value="${product.volumeHeight}">
                </div>
            </form>
                <div>
                    <button role="button" class="btn btn-primary" id="btn-update">상품 정보 수정</button>
                    <br>
                </div>
                <hr>
                <div class="form-group">
                    <label for="inStock">재고</label>
                    <input type="number" class="form-control" id="inStock" readonly th:value="${stock.inStock}">
                </div>
                <div class="form-group">
                    <label for="stockAdd">입고</label>
                    <input type="number" class="form-control" id="stockAdd" placeholder="0">
                </div>
                <div>
                    <button role="button" class="btn btn-primary" id="btn-stock-in">입고 확인</button>
                    <br>
                </div>
                <div class="form-group">
                    <label for="stockSub">출고</label>
                    <input type="number" class="form-control" id="stockSub" placeholder="0">
                </div>
                <div>
                    <button role="button" class="btn btn-primary" id="btn-stock-out">출고 확인</button>
                    <br>
                </div>
            </form>
            <hr>
            <div>
                <a href="/" role="button" class="btn btn-secondary">다른 상품 조회</a>
                <button role="button" class="btn btn-danger" id="btn-delete">삭제</button>
            </div>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/app/stockRegister.js"></script>
<script src="/js/app/priceUpdate.js"></script>
</body>
</html>