<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>입출고</title>

    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/essential.css}" rel="stylesheet">
</head>
<body>
<div>
    <div class="header-logo" th:replace="fragments/header.html :: logo"></div>
    <div class="header-btn">
        <div th:replace="fragments/header.html :: logout"></div>
        <hr>
    </div>
</div>
<div class="body-content">
    <div class>
        <div class="unit-function">
            <h3>입고</h3>
            <form action="/product/search.api" method="GET">
                <div class="form-group">
                    <input type="barcode" name="barcode" id="searchBarcode">
                </div>
                <button role="button" type="submit" id="btn-search" class="btn btn-primary" hidden>검색</button>
            </form>
        </div>
    </div>
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>NO</th>
            <th>id</th>
            <th>barcode</th>
            <th>제품이름</th>
            <th>브랜드</th>
            <th>가격</th>
            <th>재고</th>
        </tr>
        </thead>
        <tbody th:unless="${#lists.isEmpty(list)}" id="tbody">
        <tr th:each="x : ${list}">
            <td>no</td>
            <td th:text="${x.id}">id</td>
            <td th:text="${x.barcodeId}">barcode</td>
            <td ><a th:href="'/product/detail/'+${x.barcodeId}" th:text="${x.productName}" target='_blank'>product name</a></td>
            <td th:text="${x.brand}">brand</td>
            <td th:text="${x.price}">price</td>
            <td>
                <input type="number" value="1" min="1">
            </td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" id="btn-in">검색</button>
    <button class="btn btn-primay" id="btn-in-complete">입고</button>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/app/in-out.js"></script>
</body>
</html>