<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>재고</title>

    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/essential.css}" rel="stylesheet">
</head>
<body>
<div>
    <div class="header-logo" th:replace="fragments/header.html :: logo"></div>
    <div class="header-btn">
        <div th:replace="fragments/header.html :: logout"></div>
        <hr>
    </div>
</div>
<div th:unless="${#lists.isEmpty(list)}" class="body-content">
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>barcode</th>
            <th>브랜드</th>
            <th>제품명</th>
            <th>재고</th>
        </tr>
        </thead>
        <tbody id="tbody">
        <tr th:each="x : ${list}">
            <td th:text="${x.barcodeId}">barcode</td>
            <td th:text="${x.brand}">brand</td>
            <td><a th:href="'/product/detail/'+${x.barcodeId}" th:text="${x.productName}" target='_blank'>product
                name</a></td>
            <td th:text="${x.inStock}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${#lists.isEmpty(list)}">
    <tr>
        <td colspan="7">재고가 존재하지 않습니다.</td>
    </tr>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/app/index.js"></script>
</body>
</html>