<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FenikSystem</title>
    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/essential.css}" rel="stylesheet">
</head>
<body>
<div>
    <div class="header-logo" th:replace="/fragments/header.html :: logo"></div>
    <div class="header-btn">
        <div th:replace="/fragments/header.html :: logout"></div>
        <hr>
    </div>
</div>

<div class="col-md-12">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <h3>상품등록</h3>
                <div class="form-group">
                    <label for="barcodeId">바코드</label>
                    <input type="text" id="barcodeId" placeholder="바코드번호를 입력하세요.">
                </div>
                <div class="form-group">
                    <label for="productName">상품명</label>
                    <input type="text" id="productName"  placeholder="상품명을 입력하세요.">
                </div>
                <div class="form-group">
                    <label for="brand">브랜드</label>
                    <input type="text" id="brand" placeholder="브랜드명을 입력하세요.">
                </div>
                 <div class="form-group">
                    <label for="price">가격</label>
                     <input type="text" id="price" placeholder="구입처를 입력하세요.">
                 </div>
                <div class="form-group">
                    <label for="store">구매처</label>
                    <select  id="store">
                        <option
                                th:each="x : ${list}"
                                th:value="${x}"
                                th:text="${x}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="weight">중량</label>
                    <input type="text" id="weight" placeholder="중량을 입력하세요.">
                    <select id="unit">
                        <option
                                th:each="x : ${unit}"
                                th:value="${x}"
                                th:text="${x}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="volumeShort">짧은길이</label>
                    <input type="text" id="volumeShort" placeholder="짧은 길이를 입력하세요.">
                </div>
                <div class="form-group">
                    <label for="volumeLong">긴길이</label>
                    <input type="text" id="volumeLong" placeholder="긴 길이를 입력하세요.">
                </div>
                <div class="form-group">
                    <label for="volumeHeight">높이</label>
                    <input type="text" id="volumeHeight" placeholder="높이를 입력하세요.">
                </div>
                <button id="btn-register" class="btn btn-primary" type="button">등록</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/app/register.js"></script>
</body>
</html>