<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FenikSystem</title>
</head>
<body>
<div th:fragment="logo">
    <h1 style="margin: 0 auto;"><a href="/">FenikSystem</a></h1>
</div>
<div th:fragment="logout">
    <a href="/logout" class="button">Log out</a>
</div>
</body>
</html>