body {
    width: 500px;
    margin: 0 auto;
    background-color: #f2f2f2 ;
}

.login-btn{
    display : flex;
    margin-top: 30px;
    justify-content: center;
}
.login-btn a{
    width : 300px
}
.header-logo {
}
.header-btn {
    /*display: flex;*/
    /*justify-content: right;*/
    text-align: right;
}
h1 {
    margin-top: 30px;
    text-align: center;
}
h1 a {
    color: black;
}
h1 a:hover {
    color: black;
    text-decoration: none;
}

h3 {
    margin-bottom: 20px;
}

.body-content {
    text-align: center;
}

.btn {
    width: 300px;
    margin: 3px auto;
}

.msg {
    margin: 10px auto 0;
    font-size: 1.2rem;
}

.unit-function {
    margin-bottom: 20px;
    padding: 10px 0;
    background-color: white;
    border-radius: 5px;
}
.error {
    border: 2px solid mediumvioletred;
}
.error p{
    font-size: 18px;
    color: mediumvioletred;
    font-weight: bold;
    margin: 0 10px;
}

.label {
    display: inline-block;
    width: 100px;
    text-align: left;
}
.input-register{
    display: inline-block;
    width: 300px;
}
th {
    background-color: #002147;
    color: white;
}
td {
    background-color: white;
}
.row-group{
    display: flex;
    justify-content: space-between;
}
.half-form-group{
    width: 50%;
}
.half-form-group button{
    width: 90%;
}
.half-form-group .input-register{
    width: 40%;
}

.center {
    text-align: center;
}